<h2>Show Message</h2>

<p><strong><%= @owner.name %></strong>: <%= @message.content %></p>

<%= if @current_user != nil and @owner.id == @current_user.id do %>
	<span><%= link "Edit", to: message_path(@conn, :edit, @message) %></span>
<% end %>
<span><%= link "Back", to: message_path(@conn, :index) %></span>
