/* This file is for your main application css. */
@import "bootstrap";

.follow-name {
	font-size: 20px;
}

.message-text {
	font-size: 25px;
}

.like-text {
	font-size: 15px;
}

.profile-picture {
	width: 100px;
	height: 100px;
}

.profile-picture-medium {
	width: 200px;
	height: 200px;
}

.center {
	text-align: center;
}