<h2>Microblog Users</h2>

<div class="row">
  <%= for user <- @users do %>
    <div class="col-sm-3">
      <div class="card m-2">
        <%= img_tag(static_path(@conn, "/images/northeastern-logo.jpg"), class: "profile-picture-medium") %>
        <div class="card-body">
          <h4 class="card-title center">
            <%= link user.name, to: user_path(@conn, :show, user) %>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
